.monitor {
    text-align: right;
    margin: 40px 15px 0 0;
    font-size: 45px;
}

.calbtnContainer {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-template-rows: auto;
    gap: 5px;
    padding: 10px;
}