.flex{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

.toggle-flex{
    display: flex;
}

.header-container {
    width: 34rem;
    margin: 1rem;
}

#light-mode {
    background-color: #FFFBEB;
}

#dark-mode {
    background-color: #9DB2BF;
}
